# Python/Pandas Refresher

Overview of today's topics:

  1. Quick Python refresher
  1. pandas overview
  1. Load data files
  1. Select, filter, and slice data from a dataset
  1. Merging and concatenating datasets
  1. Grouping and summarizing data
  1. Vectorization, map, and apply
  1. Hierarchical indexing

In [1]:
import numpy as np
import pandas as pd

## 1. Quick Python Refresher

A quick overview of ubiquitous programming concepts including data types, for loops, if-then-else conditionals, and functions.

In [2]:
# integers (int)
x = 100
type(x)

int

In [3]:
# floating-point numbers (float)
x = 100.5
type(x)

float

In [4]:
# sequence of characters (str)
x = 'Los Angeles, CA 90089'
len(x)

21

In [5]:
# list of items
x = [1, 2, 3, 'USC']
len(x)

4

In [6]:
# sets are unique
x = {2, 2, 3, 3, 1}
x

{1, 2, 3}

In [7]:
# tuples are immutable sequences
latlng = (34.019425, -118.283413)
type(latlng)

tuple

In [8]:
# you can unpack a tuple
lat, lng = latlng
type(lat)

float

In [9]:
# dictionary of key:value pairs
person = {'first_name': 'Geoff', 'last_name': 'Boeing', 'employer': 'USC'}
type(person)

dict

In [10]:
# you can convert types
x = '100'
print(type(x))
y = int(x)
print(type(y))

<class 'str'>
<class 'int'>

In [11]:
# you can loop through an iterable, such as a list or tuple
for coord in latlng:
    print('Current coordinate is:', coord)

Current coordinate is: 34.019425
Current coordinate is: -118.283413

In [12]:
# loop through a dictionary keys and values as tuples
for key, value in person.items():
    print(key, value)

first_name Geoff
last_name Boeing
employer USC

In [13]:
# booleans are trues/falses
x = 101
x > 100

True

In [14]:
# use two == for equality and one = for assignment
x == 100

False

In [15]:
# if, elif, else for conditional branching execution
x = 101
if x > 100:
    print('Value is greater than 100.')
elif x < 100:
    print('Value is less than 100.')
else:
    print('Value is 100.')

Value is greater than 100.

In [16]:
# use functions to encapsulate and reuse bits of code
def convert_items(my_list, new_type=str):
    # convert each item in a list to a new type
    new_list = [new_type(item) for item in my_list]
    return new_list

l = [1, 2, 3, 4]
convert_items(l)

['1', '2', '3', '4']

## 2. pandas Series and DataFrames

[pandas](https://pandas.pydata.org/) has two primary data structures we will work with: Series and DataFrames

### 2a. pandas Series

In [17]:
# a pandas series is based on a numpy array: it's fast, compact, and has more functionality
# perhaps most notably, it has an index which allows you to work naturally with tabular data
my_list = [8, 5, 77, 2]
my_series = pd.Series(my_list)
my_series

0     8
1     5
2    77
3     2
dtype: int64

In [18]:
# look at a list-representation of the index
my_series.index.tolist()

[0, 1, 2, 3]

In [19]:
# look at the series' values themselves
my_series.values

array([ 8,  5, 77,  2])

In [20]:
# what's the data type of the series' values?
type(my_series.values)

numpy.ndarray

In [21]:
# what's the data type of the individual values themselves?
my_series.dtype

dtype('int64')

### 2b. pandas DataFrames

In [22]:
# a dict can contain multiple lists and label them
my_dict = {'hh_income'  : [75125, 22075, 31950, 115400],
           'home_value' : [525000, 275000, 395000, 985000]}
my_dict

{'hh_income': [75125, 22075, 31950, 115400],
 'home_value': [525000, 275000, 395000, 985000]}

In [23]:
# a pandas dataframe can contain one or more columns
# each column is a pandas series
# each row is a pandas series
# you can create a dataframe by passing in a list, array, series, or dict
df = pd.DataFrame(my_dict)
df

   hh_income  home_value
0      75125      525000
1      22075      275000
2      31950      395000
3     115400      985000

In [24]:
# the row labels in the index are accessed by the .index attribute of the DataFrame object
df.index.tolist()

[0, 1, 2, 3]

In [25]:
# the column labels are accessed by the .columns attribute of the DataFrame object
df.columns

Index(['hh_income', 'home_value'], dtype='object')

In [26]:
# the data values are accessed by the .values attribute of the DataFrame object
# this is a numpy (two-dimensional) array
df.values

array([[ 75125, 525000],
       [ 22075, 275000],
       [ 31950, 395000],
       [115400, 985000]])

## 3. Loading data

In practice, you'll work with data by loading a dataset file into pandas. CSV is the most common format. But pandas can also ingest tab-separated data, JSON, and proprietary file formats like Excel .xlsx files, Stata, SAS, and SPSS.

Below, notice what pandas's `read_csv` function does:

1. recognize the header row and get its variable names
1. read all the rows and construct a pandas DataFrame (an assembly of pandas Series rows and columns)
1. construct a unique index, beginning with zero
1. infer the data type of each variable (ie, column)

In [ ]:
# load a data file
# note the relative filepath! where is this file located?
# use dtype argument if you don't want pandas to guess your data types
df = pd.read_csv('../../data/world_cities.csv')

In [ ]:
# dataframe shape as rows, columns
df.shape

In [ ]:
# or use len to just see the number of rows
len(df)

In [ ]:
# view the dataframe's "head"
df.head()

In [ ]:
# view the dataframe's "tail"
df.tail()

## 4. Selecting and slicing data from a DataFrame

In [ ]:
# CHEAT SHEET OF COMMON TASKS
# Operation                       Syntax           Result
#------------------------------------------------------------
# Select column by name           df[col]          Series
# Select columns by name          df[col_list]     DataFrame
# Select row by label             df.loc[label]    Series
# Select row by integer location  df.iloc[loc]     Series
# Slice rows by label             df.loc[a:c]      DataFrame
# Select rows by boolean vector   df[mask]         DataFrame

### 4a. Select DataFrame's column(s) by name

In [ ]:
# select a single column by column name
# this is a pandas series
df['resident_pop']

In [ ]:
# select multiple columns by a list of column names
# this is a pandas dataframe that is a subset of the original
df[['resident_pop', 'built_up_area']]

In [ ]:
# create a new column by assigning df['new_col'] to some values
df['pop_density'] = df['resident_pop'] / df['built_up_area']

# you can do vectorized math operations on any numeric columns
df['pop_density_1000s'] = df['pop_density'] / 1000

# inspect the results
df[['resident_pop', 'built_up_area', 'pop_density', 'pop_density_1000s']].head()

### 4b. Select row(s) by label

In [ ]:
# use .loc to select by row label
# returns the row as a series whose index is the dataframe column names
df.loc[0]

In [ ]:
# use .loc to select single value by row label, column name
df.loc[0, 'resident_pop']

In [ ]:
# slice of rows from label 5 to label 7, inclusive
# this returns a pandas dataframe
df.loc[5:7]

In [ ]:
# slice of rows from label 5 to label 7, inclusive
# slice of columns from uc_names to world_subregion, inclusive
df.loc[1:3, 'uc_names':'world_subregion']

In [ ]:
# subset of rows from with labels in list
# subset of columns with names in list
df.loc[[1, 3], ['uc_names', 'world_subregion']]

In [ ]:
# you can use a column of identifiers as the index (indices do not *need* to be unique)
# uc_id values uniquely identify each row (but verify!)
df = df.set_index('uc_id')
df.index.is_unique

In [ ]:
df.head()

In [ ]:
# .loc works by label, not by position in the dataframe
try:
    df.loc[0]
except KeyError as e:
    print('label not found')

In [ ]:
# the index now contains uc_id values, so you have to use .loc accordingly to select by row label
df.loc[14]

### 4c. Select by (integer) position

In [ ]:
# get the row in the zero-th position in the dataframe
df.iloc[0]

In [ ]:
# you can slice as well
# note, while .loc is inclusive, .iloc is not
# get the rows from position 0 up to but not including position 3 (ie, rows 0, 1, and 2)
df.iloc[0:3]

In [ ]:
# get the value from the row in position 3 and the column in position 2 (zero-indexed)
df.iloc[3, 2]

### 4d. Select/filter by value

You can subset or filter a dataframe for based on the values in its rows/columns.

In [ ]:
# filter the dataframe by urban areas with more than 25 million residents
df[df['resident_pop'] > 25000000]

In [ ]:
# what exactly did that do? let's break it out.
df['resident_pop'] > 25000000

In [ ]:
# essentially a true/false mask that filters by value
mask = df['resident_pop'] > 25000000
df[mask]

In [ ]:
# you can chain multiple conditions together
# pandas logical operators are: | for or, & for and, ~ for not
# these must be grouped by using parentheses due to order of operations
mask = (df['resident_pop'] > 25000000) & (df['built_up_area'] > 2000)
df[mask]

In [ ]:
# which urban areas have 25 million residents and either 2000 km2 area or >200 meter avg elevation?
mask1 = df['resident_pop'] > 25000000
mask2 = df['built_up_area'] > 2000
mask3 = df['avg_elevation'] > 200
mask = mask1 & (mask2 | mask3)
df[mask]

In [ ]:
# see the mask
mask

In [ ]:
# ~ means not... it essentially flips trues to falses and vice-versa
~mask

In [ ]:
# which urban areas contain a city with "New " in its name?
mask = df['uc_names'].str.contains('New ')
df.loc[mask, ['uc_names', 'country']]

In [ ]:
# now it's your turn
# create a new subset dataframe containing all urban areas in the US with >5 million residents
# how many rows did you get?

## 5. Merge and concatenate

### 5a. Merging DataFrames

Merging joins data together, aligned by the index. Assume here that we had two separate data sets, with unique `uc_id` identifiers.

In [ ]:
# create a subset dataframe with climate related variables
climate_cols = ['core_city', 'avg_elevation', 'avg_precipitation', 'avg_temperature', 'climate_classes']
df_climate = df[climate_cols].sample(2000).sort_values('avg_temperature', ascending=True)
df_climate.head()

In [ ]:
# create a subset dataframe with economic variables
econ_cols = ['core_city', 'gdp_ppp', 'night_light_em', 'un_income_class']
df_econ = df[econ_cols].sample(2000).sort_values('gdp_ppp', ascending=False)
df_econ.head()

In [ ]:
# merge them together, aligning rows based on their labels in the index
df_merged = pd.merge(left=df_econ, right=df_climate, how='inner', left_index=True, right_index=True)
df_merged.head()

In [ ]:
# reset df_econ's index
df_econ = df_econ.reset_index()
df_econ.head()

In [ ]:
# merge them together, aligning rows based on left's column values and right's index labels
df_merged = pd.merge(left=df_econ, right=df_climate, how='inner', left_on='uc_id', right_index=True)
df_merged

In [ ]:
# inner join: only retain rows where a match is found in both dataframes
# left join: retain all rows in left and bring in attributes from rows that matched in right
# right join: retain all rows in right and bring in attributes from rows that matched in left
# outer join: retain all rows in both dataframes

### 5b. Concatenating DataFrames

Concatenating smushes data together along some axis

In [ ]:
# create two subset dataframes
df_us = df[df['country'] == 'united_states']
df_uk = df[df['country'] == 'united_kingdom']

In [ ]:
# concatenate them together
df_us_uk = pd.concat([df_us, df_uk], sort=False)
df_us_uk

## 6. Grouping and summarizing

In [ ]:
# calculate per capita GDP then group the rows by region
df['gdp_percap'] = df['gdp_ppp'] / df['resident_pop']
groups = df.groupby('world_subregion')

In [ ]:
# what is the median per capita GDP across the urban areas in each region?
groups['gdp_percap'].median().sort_values(ascending=False)

In [ ]:
# look at several columns' medians by region
groups[['gdp_percap', 'avg_temperature', 'pop_density']].median()

In [ ]:
# now it's your turn
# re-group the urban areas by country and find the highest then lowest urban area avg elevation in each country

## 7. Vectorization, Map, and Apply

Avoid slow iteration in pandas! Use vectorization (best) or map/apply (ok) when possible. These methods apply a function across elements, rows, and columns of a pandas DataFrame or Series. But they have some important and often confusing differences. Some tips:

  - avoid .iterrows() always
  - use vectorization wherever possible
  - .map() applies a function element-wise on a Series
  - .apply() works on a row or column basis on a DataFrame (specify the axis!), or element-wise on a Series
  - .applymap() works element-wise on an entire DataFrame

Let's see what that means in practice with some examples.

In [ ]:
# calculate resident population z-scores, vectorized
z = (df['resident_pop'] - df['resident_pop'].mean()) / df['resident_pop'].std()
z

`.map()` applies a function element-wise on a series

In [ ]:
mean = df['resident_pop'].mean()
std = df['resident_pop'].std()
def calculate_zscore(x, mean=mean, std=std):
    return (x - mean) / std
    
# map the function to the series
z = df['resident_pop'].map(calculate_zscore)

A `lambda` function is a simple, one-off, anonymous function. You can't call it again later because it doesn't have a name. It just lets you repeatedly perform some operation across a series of values (in our case, a column in our dataframe) using a minimal amount of code.

In [ ]:
mean = df['resident_pop'].mean()
std = df['resident_pop'].std()

# map a lambda function to the series
z = df['resident_pop'].map(lambda x: (x - mean) / std)

In [ ]:
%%timeit
# check timings of vectorized vs map
z = (df['resident_pop'] - df['resident_pop'].mean()) / df['resident_pop'].std()

In [ ]:
%%timeit
mean = df['resident_pop'].mean()
std = df['resident_pop'].std()
z = df['resident_pop'].map(lambda x: (x - mean) / std)

`.apply()` is like `.map()`, but it works on a row or column basis on an entire DataFrame (specify the axis)

In [ ]:
# find the difference between the min and max values in each column (ie, row-wise)
df_subset = df[['area', 'built_up_area', 'avg_elevation']]
df_subset.apply(lambda col: col.max() - col.min(), axis='rows')

In [ ]:
# find the difference between the min and max values in each row (ie, column-wise)
df_subset.apply(lambda row: row.max() - row.min(), axis='columns')

In [ ]:
# now it's your turn
# how would you vectorize the above .apply() methods to make the calculation faster?
# then compare the timings of your vectorized version to the .apply version above

`.applymap()` works element-wise on an entire DataFrame. This is like doing a `.map()` to each column in the DataFrame.

In [ ]:
# this uses applymap, but you could (should) vectorize it
# we'll see that next week
df_subset = df[['country', 'world_region', 'world_subregion']]
df_subset.applymap(lambda x: x.upper().replace('_', ' '))

## 8. Hierarchical Indexing

A pandas index can comprise multiple values. It's very powerful, but gets tricky sometimes. See [the docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#multiindex-advanced-indexing).

In general, it's a good idea to sort your index for better querying performance later.

In [ ]:
df = df.reset_index().set_index(['country', 'core_city']).sort_index()
df

In [ ]:
# index isn't unique, but doesn't need to be
# you could make it unique by adding uc_id as a 3rd level, for instance
df.index.is_unique

So what's the benefit of multi-indexing like this? Your dataframe becomes a very fast look-up table. A good index is one that gives you a useful handle to select rows.

In [ ]:
# select all urban areas in china (ie, first index level)
df.loc['china']

In [ ]:
# or select rows by multiple index levels
# lots of unnamed core cities in china in this dataset
df.loc[('china', 'unnamed')]

In [ ]:
# select every row with an unnamed core city in the dataset
# that is, only select by the 2nd level of the index
# the first : slices everything in the first index level, and the trailing : slices all columns
df.loc[pd.IndexSlice[:, ['unnamed']], :]

In [ ]:
# select every row in argentina or spain with core city of cordoba
df.loc[(['argentina', 'spain'], ['cordoba']), :]

Stacking, unstacking, and pivoting are common ways to reshape data with a MultiIndex. Depending on the form your original data come in, they may be useful in the data prep phase to make your data easier to analyze. We'll discuss data prep, cleaning, and (review) visualization next week.

In [ ]:
# now it's your turn
# multi-index the dataframe by world region, subregion, and uc_id
# use .loc to select all the rows from southern africa and eastern europe